
@{
    ViewBag.Title = "CapNhatTruong";
    Layout = "~/Views/Shared/TrangChu.cshtml";

    var tr = ViewData["tr"] as MB_Truong;
}
<h1 style="color:blue ; text-align:center">Cập Nhật Trường</h1>
<div style="margin-left:200px; margin-right: 200px">
    <form action="/Truong/XuLiCapNhatTruong" method="post">
        <div class="mb-3">
            <label class="form-label">ID</label>
            <input type="text" class="form-control" placeholder="..." name="id" value="@tr.Id">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Mã trường</label>
            <input type="text" class="form-control" placeholder="..." name="maTruong">
        </div>
        <div class="mb-3">
            <label class="form-label">Tên trường</label>
            <input type="text" class="form-control" placeholder="..." name="tenTruong">
        </div>
        <div class="mb-3">
            <label class="form-label">Trường thuộc bộ</label>
            <input type="text" class="form-control" placeholder="..." name="truongThuocBo">
        </div>
        <div class="mb-3">
            <label class="form-label">Đường dẫn Logo</label>
            <input type="text" class="form-control" placeholder="..." name="logo">
        </div>
        <div class="mb-3">
            <label class="form-label">Hiển thị</label>
            <select class="form-select" aria-label="Default select example" name="isHienThi">
                <option value="false">Không</option>
                <option value="true" selected>Có</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Sử dụng riêng</label>
            <select class="form-select" aria-label="Default select example" name="isSuDungRieng">
                <option value="false">Không</option>
                <option value="true" selected>Có</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Thông tin riêng</label>
            <input type="text" class="form-control" placeholder="..." name="thongTinRieng">
        </div>
        <div class="mb-3">
            <label class="form-label">Ghi chú</label>
            <input type="text" class="form-control" placeholder="..." name="ghiChu">
        </div>
        <div class="mb-3">
            <label class="form-label">Loại</label>
            <input type="text" class="form-control" placeholder="..." name="loai">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Cập nhật</button>
        </div>
    </form>
</div>

