
@{
    ViewBag.Title = "ThemTruongPhanHe";
    Layout = "~/Views/Shared/TrangChu.cshtml";
    var dsTr = ViewData["dsTr"] as List<MB_Truong>;
    var dsPh = ViewData["dsPh"] as List<MB_PhanHe>;

}
<h1 style="color:blue ; text-align:center">Thêm cấu hình</h1>
<div style="margin-left:200px; margin-right: 200px">
    <form action="/TruongPhanHe/XuLiThemTruongPhanHe" method="post">
        <div class="mb-3">
            <label class="form-label">ID</label>
            <input type="text" class="form-control" placeholder="..." name="id">
        </div>
        <div class="mb-3">
            <label class="form-label">Trường</label>
            <select class="form-select" aria-label="Default select example" name="idTruong">
                @{
                    foreach (var tr in dsTr)
                    {
                        <option value="@tr.Id">@tr.TenTruong</option>

                    }
                }
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Phân hệ</label>
            <select class="form-select" aria-label="Default select example" name="idPhanHe">
                @{
                    foreach (var ph in dsPh)
                    {
                        <option value="@ph.Id">@ph.TenPhanHe</option>

                    }
                }
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Url</label>
            <input type="text" class="form-control" placeholder="..." name="url">
        </div>
        <div class="mb-3">
            <label class="form-label">Url 2</label>
            <input type="text" class="form-control" placeholder="..." name="url2">
        </div>
        <div class="mb-3">
            <label class="form-label">Url 3</label>
            <input type="text" class="form-control" placeholder="..." name="url3">
        </div>
        <div class="mb-3">
            <label class="form-label">Url Socket</label>
            <input type="text" class="form-control" placeholder="..." name="urlsocket">
        </div>
        <div class="mb-3">
            <label class="form-label">Sub API</label>
            <input type="text" class="form-control" placeholder="..." name="subapi">
        </div>
        <div class="mb-3">
            <label class="form-label">Sub API 2</label>
            <input type="text" class="form-control" placeholder="..." name="subapi2">
        </div>
        <div class="mb-3">
            <label class="form-label">Sub API 3</label>
            <input type="text" class="form-control" placeholder="..." name="subapi3">
        </div>
        <div class="mb-3">
            <label class="form-label">Ghi chú</label>
            <input type="text" class="form-control" placeholder="..." name="ghichu">
        </div>
        <div class="mb-3">
            <label class="form-label">Warning RequireSurvey</label>
            <input type="text" class="form-control" placeholder="..." name="warningrequireSurvey">
        </div>
        <div class="mb-3">
            <label class="form-label">Features RequireSurvey</label>
            <input type="text" class="form-control" placeholder="..." name="featuresrequireSurvey">
        </div>
        <div class="mb-3">
            <label class="form-label">Người tạo</label>
            <input type="text" class="form-control" placeholder="..." name="nguoitao">
        </div>
        <div class="mb-3">
            <label class="form-label">Ngày tạo</label>
            <input type="text" class="form-control" placeholder="..." name="ngaytao">
        </div>
        <div class="mb-3">
            <label class="form-label">Người cập nhật</label>
            <input type="text" class="form-control" placeholder="..." name="nguoicapnhat">
        </div>
        <div class="mb-3">
            <label class="form-label">Ngày cập nhật</label>
            <input type="text" class="form-control" placeholder="..." name="ngaycapnhat">
        </div>
        <div class="mb-3">
            <label class="form-label">Version EgovAPI</label>
            <input type="text" class="form-control" placeholder="..." name="versionegovapi">
        </div>
        <div class="mb-3">
            <label class="form-label">Url Payment</label>
            <input type="text" class="form-control" placeholder="..." name="urlpayment">
        </div>
        <div class="mb-3">
            <label class="form-label">Version StudentAPI</label>
            <input type="text" class="form-control" placeholder="..." name="versionstudentapi">
        </div>
        <div class="mb-3">
            <label class="form-label">Warning Message</label>
            <input type="text" class="form-control" placeholder="..." name="warningessage">
        </div>
        <div class="mb-3">
            <label class="form-label">ADS</label>
            <select class="form-select" aria-label="Default select example" name="hasads">
                <option value="true">Có</option>
                <option value="false">Không</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Website Url</label>
            <input type="text" class="form-control" placeholder="..." name="Website Url">
        </div>
        <div class="mb-3">
            <label class="form-label">Version Web</label>
            <input type="text" class="form-control" placeholder="..." name="versionweb">
        </div>
        <div class="mb-3">
            <label class="form-label">Use HTMLSalaryView</label>
            <select class="form-select" aria-label="Default select example" name="usehtmlsalaryview">
                <option value="true">Có</option>
                <option value="false">Không</option>
            </select>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Thêm</button>
        </div>
    </form>
</div>

